/*IDs*/

#img_p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    margin-top: -10px;
}

#fig_p{
    background-color: rgb(232, 228, 255);
    height: 80px;
    margin-bottom: 10px;
    margin-right: 45%;
    margin-left: 45%;
}

#navbar{
    background-color: rgb(195, 196, 223);
    height: 30px;
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 1000px;
}

/*Base Classes*/

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
}
/*Custom Classes*/

.navbot{
    overflow: hidden;
    margin: 0;
    display: inline-block;
    padding: 5px;
    color: rgb(86, 77, 145);
}

.navbot:hover{
    background-color: rgb(165, 159, 219);
    color:rgb(63, 56, 105);
}

.navbotACTIVE{
    overflow: hidden;
    margin: 0;
    display: inline-block;
    padding: 5px;
    background-color: rgb(110, 109, 170);
    color: white;
}

.navbotACTIVE:hover{
    overflow: hidden;
    margin: 0;
    display: inline-block;
    padding: 5px;
    background-color: rgb(69, 68, 110);
    color: rgb(226, 228, 243);
}

.botonRedes{
    background-size: 30px 30px;
    height: 30px;  
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.slideshow-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color:  rgb(154, 153, 201);
}

.mySlides {
    display: none;
    position: center; 
}

.fade{
    animation:fading 4s;
}

@keyframes fading{
    0%{opacity:0}
    35%{opacity:1;}
    100%{opacity:1}
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(154, 153, 201);
    padding: 10px;
    background-image: url("../Imagenes/simple_background.jpg");
}

.row {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.column1 {
    flex: 50%;
    height: auto;
    max-height: 100px;
}

.column2 {
    font-family: BlacklistFont;
    flex: 50%;
    height: auto;
    max-height: 100px;
}

.imgResponsive{
    height: auto; 
    width: 100%;
}

.videoResponsive{
    height: auto;
    width: 100%;
}

.centerBlocks{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*FONTS*/

@font-face {
    font-family: "BlacklistFont";
    src: url("../Fonts/TheBlacklist.woff");
}